.home {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	/* Vertically, leave space for the header */
	padding: calc(.5rem + var(--l-header-height-s, 3.5rem)) 0 0;
	min-height: 100%;
	width: 100%;
}

.modeRow {
	align-self: center;
	color: var(--c-text-dark, #000);
	display: flex;
	font-size: 1rem;
	justify-content: center;
	margin: auto 0 0;
	max-width: 22rem;
	position: relative;
	width: 75%;
}

.modeBox {
	align-items: stretch;
	cursor: pointer;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	-webkit-tap-highlight-color: transparent;
}

/* .modeBox + .modeBox {
	border-left: var(--l-border-width, 1px) solid currentColor;
} */

.modeLabel {
	align-items: center;
	border-color: currentColor;
	border-style: solid;
	border-width: var(--l-border-width, 1px) var(--l-border-width, 1px) var(--l-border-width, 1px) 0;
	color: inherit;
	display: flex;
	font-size: .8em;
	font-weight: 500;
	justify-content: center;
	line-height: 2;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.modeBox:first-child .modeLabel {
	border-left-width: var(--l-border-width, 1px);
}

.modeLabel svg {
	stroke-width: 20;
	display: inline-block;
	height: auto;
	margin-left: .6em;
	width: 1em;
}

.modeLabel svg[data-direction='down'] {
	transform: rotateZ(180deg);
}

.modeLabel:active {
	animation-name: dieButtonBounce;
	animation-duration: .3s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

input:checked + .modeLabel {
	background: var(--c-accent, #f00);
	color: var(--c-accent-text, #fff);
}

input:focus + .modeLabel::before {
	height: calc(.5 * var(--l-border-width, 1px));
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	content: '';
	background: currentColor
}

.diceGrid {
	align-self: center;
	display: grid;
	grid-gap: 1rem .5rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	margin: auto 0 0;
	padding: 1rem var(--l-content-padding-horizontal-s, .875rem);
	max-width: 32rem;
	width: 100%;
}

.dieButton {
	align-items: center;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	padding: 0;
	position: relative;
	transition: transform .3s ease-out;
	will-change: transform;
	-webkit-tap-highlight-color: transparent;
}

@media (min-width: 22rem) {
	.dieButton {
		font-size: 1.25rem;
	}
}

@media (min-width: 25rem) {
	.dieButton {
		font-size: 1.5rem;
	}
}

.dieButton:focus {
	outline: none;
}

.dieButton svg {
	display: block;
	height: auto;
	margin-bottom: .5em;
	pointer-events: none;
	width: 3.75em;
	position: relative;
}

.dieButton:focus svg {
	--c-die-highlighted-face: var(--c-primary-light);
	--c-die-highlighted-face-text: var(--c-primary-light-text);
}

.dieButton:active svg {
	animation-name: dieButtonBounce;
	animation-duration: .3s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

@keyframes dieButtonBounce {
	from,
	to {
		transform: none;
	}

	50% {
		transform: scale(.95);
	}
}

.dieCount {
	align-items: center;
	animation-name: dieCountBounce;
	animation-duration: .3s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
	background: var(--c-accent, #f00);
	border-radius: 2em;
	border: var(--l-border-width, 1px) solid currentColor;
	bottom: -.3em;
	color: var(--c-accent-text, #fff);;
	display: flex;
	font-size: .8em;
	height: 1.7em;
	justify-content: center;
	left: 50%;
	padding: 0 .4em;
	pointer-events: none;
	position: absolute;
	transform: translateX(-50%);
	min-width: 2em;
}

@keyframes dieCountBounce {
	from,
	to {
		transform: translateX(-50%);
	}

	50% {
		transform: translateX(-50%) scale(1.1);
	}
}

.dieCountZero {
	animation: none;
	background: var(--c-grey-200, #ccc);
	color: var(--c-text-light, #fff);
}

.buttonsRow {
	align-items: center;
	display: flex;
	margin: auto 0 0;
	justify-content: center;
	padding: 0 var(--l-content-padding-horizontal-s, .875rem) 1rem;
}

.clearButton {
	padding: 0;
	position: absolute;
	right: var(--l-content-padding-horizontal-s, .875rem);
}

.tray {
	align-items: center;
	background: var(--c-background-alt, #f0f0f0);
	box-shadow: inset 0 .5rem .5rem -.5rem rgba(0, 0, 0, .2);
	display: flex;
	justify-content: center;
	margin: auto 0 0;
	padding: 1rem var(--l-content-padding-horizontal-s, .875rem);
	position: relative;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	margin: auto;
	min-height: 4.5rem;
	text-align: center;
}

.resultContainerAnimated {
	animation-name: dieButtonBounce;
	animation-duration: .3s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

.formula {
	font-size: .4em;
	margin-top: auto;
}

.formulaDieType {
	opacity: .5;
	font-style: italic;
}

.result {
	font-weight: 500;
	margin: auto;
}

.noJs {
	align-items: center;
	background: var(--c-background-alt, #f0f0f0);
	bottom: 0;
	color: var(--c-primary, #f00);
	display: flex;
	font-size: 1.25rem;
	font-weight: 700;
	justify-content: center;
	left: 0;
	padding: 0 var(--l-content-padding-horizontal-s, .875rem);
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
