/*******************************************************************************
 * MODES TOGGLE
 ******************************************************************************/

.modeRow {
	align-self: center;
	display: flex;
	justify-content: center;
	margin: auto 0 0;
	max-width: 22rem;
	position: relative;
	width: 75%;
}

.modeToggleLabel {
	flex: 1;
	position: relative;
	z-index: 0;
	-webkit-tap-highlight-color: transparent;
}

.modeToggleLabel:first-child {
	left: var(--l-border-width, 1px);
}

.modeToggleLabel:last-child  {
	right: var(--l-border-width, 1px);
}

.modeToggleLabel.modeToggleLabelChecked {
	z-index: 1;
}

.modeToggleButton {
	align-items: center;
	display: flex;
	font-size: .75rem;
	font-weight: 500;
	justify-content: center;
	padding: .4em .5em;
	text-transform: uppercase;
}

.modeToggleButton::before {
	height: .25em;
}

.modeToggleLabel:not(:first-child) .modeToggleButton {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.modeToggleLabel:not(:last-child) .modeToggleButton {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.modeToggleButton svg {
	display: inline-block;
	height: auto;
	margin-left: .6em;
	margin-top: .1em;
	stroke-width: 20;
	width: 1em;
}

.modeToggleButton svg[data-direction='down'] {
	transform: rotateZ(180deg);
}

input:not(:checked) + .modeToggleButton {
	background: var(--c-background, #fff);
}

input:focus + .modeToggleButton::before {
	opacity: 1;
	transform: none;
}

@media (min-height: 35rem) {
	.modeToggleButton {
		font-size: .85rem;
	}
}

/*******************************************************************************
 * DICE GRID / BUTTONS
 ******************************************************************************/

.diceGrid {
	align-self: center;
	display: grid;
	grid-gap: 1rem .5rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	margin: auto 0 0;
	padding: 1rem var(--l-content-padding-horizontal-s, .875rem);
	max-width: 26rem;
	width: 100%;
}

@media (min-height: 40rem) {
	.diceGrid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.dieButton {
	align-items: center;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	position: relative;
}

@media (min-width: 22rem) {
	.dieButton {
		font-size: 1.25rem;
	}
}

.dieButton svg {
	display: block;
	height: auto;
	margin-bottom: .5em;
	pointer-events: none;
	width: 3.75em;
	position: relative;
}

.dieButton:focus svg {
	--c-die-highlighted-face: var(--c-primary-light);
	--c-die-highlighted-face-text: var(--c-primary-light-text);
	--c-die-stroke-width: 10;
}

.dieCount {
	align-items: center;
	animation-name: bounceUp;
	animation-duration: .3s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
	background: var(--c-accent, #f00);
	border-radius: 2em;
	border: var(--l-border-width, 1px) solid currentColor;
	color: var(--c-accent-text, #fff);;
	display: flex;
	font-size: .8em;
	height: 1.7em;
	justify-content: center;
	margin: -1.6em auto 0;
	min-width: 2em;
	padding: 0 .4em;
	pointer-events: none;
	z-index: 1;
}

.dieCountZero {
	animation: none;
	background: var(--c-grey-200, #ccc);
	color: var(--c-text-light, #fff);
}

.buttonsRow {
	align-items: center;
	display: flex;
	margin: auto 0 0;
	justify-content: center;
	padding: 0 var(--l-content-padding-horizontal-s, .875rem) 1rem;
}

.clearButton {
	padding: 0;
	position: absolute;
	right: var(--l-content-padding-horizontal-s, .875rem);
}

@media (min-height: 35rem) and (min-width: 22.5rem) {
	.rollButton {
		font-size: 1.7rem;
	}

	.clearButton {
		font-size: 1.3rem;
	}
}

/*******************************************************************************
 * TRAY / ROLL RESULTS
 ******************************************************************************/

.tray {
	align-items: center;
	background: var(--c-background-alt, #f0f0f0);
	box-shadow: inset 0 .5rem .5rem -.5rem rgba(0, 0, 0, .2);
	display: flex;
	justify-content: center;
	margin: auto 0 0;
	padding: 1rem var(--l-content-padding-horizontal-s, .875rem);
	position: relative;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	margin: auto;
	min-height: 2.25em;
	text-align: center;
}

@media (min-height: 35rem) {
	.resultContainer {
		font-size: 2.25rem;
	}
}

@media (min-height: 40rem) {
	.resultContainer {
		font-size: 2.5rem;
	}
}

.resultContainerAnimated {
	animation-name: bounceDown;
	animation-duration: .3s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

.formula {
	font-size: .4em;
	margin-top: auto;
}

.formulaDieRoll {
	font-weight: 500;
}

.formulaDieRollCrit {
	color: var(--c-roll-crit, #00be00);
	font-weight: 700;
}

.formulaDieRollNatOne {
	color: var(--c-roll-nat-one, #f00);
	font-weight: 700;
}

.formulaDieType {
	opacity: .5;
	font-style: italic;
}

.result {
	font-weight: 500;
	margin: auto;
}

.noJs {
	align-items: center;
	background: var(--c-background-alt, #f0f0f0);
	bottom: 0;
	color: var(--c-primary, #f00);
	display: flex;
	font-size: 1.25rem;
	font-weight: 700;
	justify-content: center;
	left: 0;
	padding: 0 var(--l-content-padding-horizontal-s, .875rem);
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

/*******************************************************************************
 * ANIMATION DEFS
 ******************************************************************************/

@keyframes bounceUp {
	from,
	to {
		transform: none;
	}

	50% {
		transform: scale(1.1);
	}
}

@keyframes bounceDown {
	from,
	to {
		transform: none;
	}

	50% {
		transform: scale(.95);
	}
}
