.buttonBase {
	border: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	cursor: pointer;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;

	-webkit-tap-highlight-color: transparent;

	transition: .15s transform ease-out;
	will-change: transform;
}

/* Remove excess padding and border in Firefox 4+ */
.buttonBase::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.buttonBase:disabled {
	cursor: not-allowed;
	opacity: .5;
}

.buttonBase:not(:disabled):hover {
	transform: scale(1.02);
}

.buttonBase:not(:disabled):active {
	transform: scale(.98);
}

.buttonBase:focus {
	outline: none;
}

/*******************************************************************************
 * FLAT BUTTON
 ******************************************************************************/

.buttonFlat {
	color: var(--c-text-dark, #000);
	font-size: 1rem;
	line-height: 2;
	padding: 0 .8em;
}

.buttonFlat:focus {
	color: var(--c-primary, #f00);
}

/*******************************************************************************
 * PRIMARY BUTTON
 ******************************************************************************/

.buttonPrimary {
	background: var(--c-accent, #f00);
	border: var(--l-border-width, 1px) solid currentColor;
	border-radius: .2em;
	font-size: 1.3rem;
	padding: .2em .5em;
	position: relative;
}

.buttonPrimary::before {
	/* The -1px on the L/R/B prevents some sub-pixel glitching on hover+focus */
	background: currentColor;
	bottom: -1px;
	content: '';
	height: .15em;
	left: -1px;
	opacity: 0;
	position: absolute;
	right: -1px;
	transform: scaleY(0);
	transform-origin: bottom center;
	transition-duration: .1s;
	transition-property: opacity, transform;
	transition-timing-function: ease-out;
	will-change: opacity, transform;
}

.buttonPrimary:disabled {
	background: var(--c-background-alt, #f0f0f0);
}

.buttonPrimary:focus::before {
	opacity: 1;
	transform: none;
}
