.stats {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	/* Vertically, leave space for the header */
	padding: calc(1rem + var(--l-header-height-s, 3.5rem)) 0;
	min-height: 100%;
	width: 100%;

  --l-stat-cell-border-radius: .75rem;
}

.list {
  list-style: none;
  margin: 0 auto 2rem;
  max-width: 25rem;
  padding: 0;
  width: 100%;
}

.dieWrapper + .dieWrapper {
  margin-top: 2rem;
}

.dieType {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 .3rem;
}

.dieStatsTable {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1rem auto 0;
  padding: 0 var(--l-content-padding-horizontal-s, .875rem);
}

.dieStatCell {
  align-items: center;
  background: var(--c-accent-light, #f00);
  border-bottom: .15em solid var(--c-background, #fff);;
  border-right: .15em solid var(--c-background, #fff);;
  color: var(--c-accent-light-text, #f00);
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  padding: .3em;
  width: 50%;
}

.dieStatCell:nth-child(1),
.dieStatCell:nth-child(2) {
  border-top: .15em solid var(--c-background, #fff);;
}

.dieStatCell:nth-child(1),
.dieStatCell:nth-child(3) {
  border-left: .15em solid var(--c-background, #fff);;
}

.dieStatCell:nth-child(1) {
  border-top-left-radius: var(--l-stat-cell-border-radius, .5rem);
}

.dieStatCell:nth-child(2) {
  border-top-right-radius: var(--l-stat-cell-border-radius, .5rem);
}

.dieStatCell:nth-child(3) {
  border-bottom-left-radius: var(--l-stat-cell-border-radius, .5rem);
}

.dieStatCell:nth-child(4) {
  border-bottom-right-radius: var(--l-stat-cell-border-radius, .5rem);
}

.statTitle {
  font-size: .7em;
  font-weight: 500;
  margin-bottom: .1em;
  opacity: .8;
  text-transform: uppercase;
}

.statFigure {
  font-size: 1.5em;
  font-weight: 700;
}

.resetButton {
  align-self: center;
}

.noJs {
  color: var(--c-primary, #f00);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem var(--l-content-padding-horizontal-s, .875rem);
  text-align: center;
}
