.header {
	align-items: center;
	box-shadow: 0 0 .125em rgba(0, 0, 0, .5);
	background: var(--c-primary-dark, #aaa);
	display: flex;
	font-size: var(--l-header-height, 3.5rem);
	height: 1em;
	left: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
}

.header a {
	line-height: var(--l-header-height, 3.5rem);
	opacity: .85;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.header a:focus {
	outline: none;
}

.header a:hover {
	opacity: 1;
}

.header a:focus {
	background: var(--c-primary, #fff);
}

.title {
	align-self: stretch;
	align-items: center;
	display: flex;
	font-size: .5em;
	font-weight: 400;
	margin: 0 auto 0 0;
	padding: 0 var(--l-content-padding-horizontal-s, .875rem);
}

.logoAltText {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}

.logo {
	display:	block;
	height: auto;
	width: 5.5rem;
}

/* Larger logo */
@media (min-width: 22.5rem) {
	.logo {
		width: 6rem;
	}
}

@media (min-width: 30rem), (min-height: 40rem) and (min-width: 23rem) {
	.logo {
		width: 7rem;
	}
}

.logoLetters {
	fill: var(--c-primary-dark-text, #000);
	opacity: .8;
}

.logoNumbers {
	fill: var(--c-primary-dark-text, #000);
}

.header nav {
	align-items: center;
	display: flex;
	margin: 0 0 0 auto;
	padding-right: var(--l-content-padding-horizontal-s, .875rem);
}

.header nav a {
	color: var(--c-primary-dark-text, #000);
	display: inline-block;
	font-size: .3em;
	font-weight: 500;
	padding: 0 .7em;
	position: relative;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
}

.header nav a:last-child {
	margin-right: -.5em;
}

.header nav a::before {
	background: currentColor;
	bottom: 0;
	content: '';
	height: .3em;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	transform: translateY(100%);
	transition-duration: .1s;
	transition-property: opacity, transform;
	transition-timing-function: ease-out;
	will-change: opacity, transform;
}

.header nav a.active::before {
	opacity: 1;
	transform: none;
}
