:root {
	/* Shades of grey */
	--c-grey-255: #fff;
	--c-grey-245: #f5f5f5;
	--c-grey-230: #e6e6e6;
	--c-grey-200: #c8c8c8;
	--c-grey-170: #aaa;
	--c-grey-140: #8c8c8c;

	/* Basic text */
	--c-text-dark: #000;
	--c-text-light: #fff;

	/* Mods applied to a color's L to create the lighter/darker versions */
	--c-mod-light: 25%;
	--c-mod-dark: 14%;

	/* Backgrounds */
	--c-background: var(--c-grey-255);
	--c-background-alt: var(--c-grey-245);

	/* Primary */
	--c-primary-h: 210;
	--c-primary-s: 79%;
	--c-primary-l: 45%;
	--c-primary: hsl(
		var(--c-primary-h),
		var(--c-primary-s),
		var(--c-primary-l)
	);
	--c-primary-text: var(--c-text-light);
	--c-primary-light: hsl(
		var(--c-primary-h),
		var(--c-primary-s),
		calc(var(--c-primary-l) + var(--c-mod-light))
	);
	--c-primary-light-text: var(--c-text-dark);
	--c-primary-dark:  hsl(
		var(--c-primary-h),
		var(--c-primary-s),
		calc(var(--c-primary-l) - var(--c-mod-dark))
	);
	--c-primary-dark-text: var(--c-text-light);

	/* Accent */
	--c-accent-h: 46;
	--c-accent-s: 100%;
	--c-accent-l: 49%;
	--c-accent: hsl(
		var(--c-accent-h),
		var(--c-accent-s),
		var(--c-accent-l)
	);
	--c-accent-text: var(--c-text-dark);
	--c-accent-light: hsl(
		var(--c-accent-h),
		var(--c-accent-s),
		calc(var(--c-accent-l) + var(--c-mod-light))
	);
	--c-accent-light-text: var(--c-text-dark);
	--c-accent-dark:  hsl(
		var(--c-accent-h),
		var(--c-accent-s),
		calc(var(--c-accent-l) - var(--c-mod-dark))
	);
	--c-accent-dark-text: var(--c-text-light);

	/* Crit success/fail  */
	--c-roll-crit: var(--c-primary);
	--c-roll-nat-one: #ee3000;

	/* Dice */
	--c-die-highlighted-face: var(--c-primary);
	--c-die-highlighted-face-text: var(--c-primary-text);
	--c-die-edge: var(--c-background);
	--c-die-stroke-width: 0;

	/* Layout */
	--l-header-height: 2.5rem;
	--l-content-padding-horizontal-s: .875rem;
	--l-border-width: .125rem;
}

/* Header height */
@media (min-width: 30rem), (min-height: 40rem) and (min-width: 23rem) {
	:root {
		--l-header-height: 3rem;
	}
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--c-background, #fff);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	color: var(--c-text-dark, #000);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.visuallyHidden {
	border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pageWrapper {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	/* Vertically, leave space for the header */
	padding: calc(.5rem + var(--l-header-height, 3.5rem)) 0 0;
	min-height: 100%;
	width: 100%;
}

p {
	line-height: 1.4;
}

a {
	color: var(--c-accent-dark, #f00);
	font-weight: 500;
}
