:root {
	--c-grey-255: #fff;
	--c-grey-245: #f5f5f5;
	--c-grey-230: #e6e6e6;
	--c-grey-200: #c8c8c8;
	--c-grey-170: #aaa;
	--c-grey-140: #8c8c8c;

	--c-text-dark: #000;
	--c-text-light: #fff;

	--c-primary: #1976d2;
	--c-primary-text: var(--c-text-light);
	--c-primary-light: #63a4ff;
	--c-primary-light-text: var(--c-text-dark);
	--c-primary-dark: #004ba0;
	--c-primary-dark-text: var(--c-text-light);

	--c-accent: #fbbf00;
	--c-accent-text: var(--c-text-dark);
	--c-accent-light: #ffe386;
	--c-accent-light-text: var(--c-text-dark);
	--c-accent-dark: #d58700;
	--c-accent-dark-text: var(--c-text-dark);

	--c-roll-crit: var(--c-primary);
	--c-roll-nat-one: #ee3000;

	--c-background: var(--c-grey-255);
	--c-background-alt: var(--c-grey-245);

	--c-die-highlighted-face: var(--c-primary);
	--c-die-highlighted-face-text: var(--c-primary-text);
	--c-die-stroke-width: 6;

	--l-header-height: 2.5rem;

	--l-content-padding-horizontal-s: .875rem;

	--l-border-width: .125rem;
}

@media screen and (min-width: 30rem) {
	:root {
		--l-header-height: 3rem;
	}
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--c-background, #fff);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	color: var(--c-text-dark, #000);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.visuallyHidden {
	border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pageWrapper {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	/* Vertically, leave space for the header */
	padding: calc(.5rem + var(--l-header-height, 3.5rem)) 0 0;
	min-height: 100%;
	width: 100%;
}
